@model IEnumerable<News>

@{
    ViewBag.Title = "Zarządaj newsami";
}

<div class="upper-row">
    <h1>Zarządzaj newsami</h1>
    <div class="buttons-row"><a class="action-button add-button" asp-controller="News" asp-action="Create"><i class="fas fa-plus"></i></a></div>
</div>

@if (Model.Any())
{
    <div class="table-container">
        <table>
            <tr>
                <th>Id</th>
                <th>Tytuł</th>
                <th>Data dodania</th>
                <th>Autor</th>
                <th></th>
            </tr>
            @foreach (var news in Model)
            {
                <tr>
                    <td>
                        @news.Id
                    </td>
                    <td>
                        <a asp-controller="News" asp-action="Display" asp-route-id="@news.Id">
                            @news.Title
                        </a>
                    </td>
                    <td>
                        @news.PublicationDate
                    </td>
                    @if (news.AuthorID != null)
                    {
                        <td>
                            @news.Author.UserName
                        </td>
                    }
                    else
                    {
                        <td>
                            Konto usunięte
                        </td>
                    }
                    <td>
                        <div class="action-buttons">
                            <a asp-controller="News" asp-action="Edit" asp-route-id="@news.Id" class="btn btn-info"><i class="fas fa-edit"></i></a>
                            <a asp-controller="News" asp-action="Delete" asp-route-id="@news.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Brak newsów.</p>
}