@model GameWeb.Models.ViewModels.ThreadViewModel

<div class="thread-container">
    <div class="upper-row forum-upper-row">
        <h2>@Model.Thread.Name</h2>
        <h4><a asp-controller="Forum" asp-route-gameId="@Model.Thread.GameId" asp-action="Index">Forum gry @Model.Thread.Game.Name</a></h4>
    </div>

    <div>
        <div class="thread-post">
            <div class="thread-user-info">
                <div class="user-info-container">
                    <i class="fas fa-user-circle user-icon"></i>
                    @if (Model.Comments.FirstOrDefault().Author != null)
                    {
                        <p><strong>@Model.Comments.FirstOrDefault().Author.UserName</strong></p>
                    }
                    else
                    {
                        <p><strong>Konto usunięte</strong></p>
                    }
                </div>
                <p>@Model.Comments.FirstOrDefault().Date</p>
            </div>
            <div class="post-body"><p>@Model.Comments.FirstOrDefault().Body</p></div>
        </div>

        @foreach (var comment in Model.Comments.Skip(1))
        {
            <div class="thread-post" style="margin-left: 10%;">
                <div class="thread-user-info">
                    <div class="user-info-container">
                        <i class="fas fa-user-circle user-icon"></i>
                        @if (comment.Author != null)
                        {
                            <p><strong>@comment.Author.UserName</strong></p>
                        }
                        else
                        {
                            <p><strong>Konto usunięte</strong></p>
                        }
                    </div>
                    <p>@comment.Date</p>
                </div>
                <div class="post-body"><p>@comment.Body</p></div>
            </div>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-controller="Forum" asp-action="AddComment" enctype="multipart/form-data">
                <input asp-for="@Model.Thread.Id" hidden />
                <div asp-validation-summary="ModelOnly"></div>
                <div class="upper-row">
                    <h4>Dodaj swoją odpowiedź</h4>
                </div>
                <div class="default-form">
                    <div class="form-input-set">
                        <label asp-for="@Model.NewComment.Body"></label>
                        <textarea class="text-input" rows="6" asp-for="@Model.NewComment.Body"></textarea>
                        <span class="validation-error-span" asp-validation-for="@Model.NewComment.Body" />
                    </div>
                </div>
                <div class="form-buttons-row">
                    <input type="submit" value="Dodaj" class="action-button add-button" />
                </div>
            </form>
        }
        else
        {
            <div class="center-container">
                <p><a asp-controller="Account" asp-action="Login">Zaloguj się</a>, aby móc uczestniczyć w tej dyskusji.</p>
            </div>
        }
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}