@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Wszyscy użytkownicy";
}

<h1>Wszyscy użytkownicy</h1>

@if (Model.Any())
{
    <div class="table-container">
        <table>
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Email</th>
                <th>Rola</th>
                <th></th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Role
                    </td>
                    <td>
                        <a asp-controller="UsersManagement" asp-route-id="@user.Id" asp-action="Edit" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a asp-controller="UsersManagement" asp-route-Id="@user.Id" asp-action="Delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Brak użytkowników.</p>
}