@model GameWeb.Models.Game

<div id="cover-overlay">
    <div class="overlay-content">
        <a href="~/images/GameCovers/@Model.Image">
            <img src="~/images/GameCovers/@Model.Image" />
        </a>
    </div>
</div>
<div class="game-page">
    <div class="game-header">
        <div class="cover-container">
            <img src="~/images/GameCovers/@Model.Image" />
        </div>
        <div class="game-header-info">
            <div class="game-header-container">
                <h2><span class="title-span">@Model.Name</span> <span class="year-span">@Model.ReleaseDate.Year</span></h2>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (Model.IsCurrentUsersFavourite)
                {
                    <form asp-controller="Game" asp-action="UnfavPost" asp-route-id="@Model.Id">
                        <input type="submit" value="Remove from favourites" />
                    </form>
                }
                else
                {
                    <form asp-controller="Game" asp-action="FavPost" asp-route-id="@Model.Id">
                        <input type="submit" value="Add to favourites" />
                    </form>
                }
            }
            <p class="full-description">@Model.Description</p>
        </div>
    </div>
    <hr class="game-divider" />
    <div class="game-details">
        <div class="game-section">
            <h3>Główne informacje</h3>
            <div class="game-info-grid">
                <div>
                    <strong>Wydawca</strong>
                    <p>@Model.Publisher</p>
                </div>
                <div>
                    <strong>Deweloper</strong>
                    <p>@Model.Developer</p>
                </div>
                <div>
                    <strong>Gatunek</strong>
                    <p>@Model.Genre</p>
                </div>
            </div>
        </div>
        <div class="game-section">
            <h3>Platformy</h3>
            <div class="platform-icons">
                <p>@Model.Platform</p>
            </div>
        </div>
        <div class="game-section">
            <h3>Wymagania sprzętowe</h3>
            <div>
                <h4>Minimalne</h4>
                <div class="game-info-grid">
                    <div>
                        <strong>Procesor</strong>
                        <p>@Model.MinimalRequirements.CPU</p>
                    </div>
                    <div>
                        <strong>Pamięć RAM</strong>
                        @if (Model.MinimalRequirements.RAM >= 1)
                        {
                            <p>@Model.MinimalRequirements.RAM GB</p>
                        }
                        else
                        {
                            <p>@(Model.MinimalRequirements.RAM * 1000) MB</p>
                        }
                    </div>
                    <div>
                        <strong>Karta graficzna</strong>
                        <p>@Model.MinimalRequirements.GPU</p>
                    </div>
                    <div>
                        <strong>Dysk twardy</strong>
                        @if (Model.MinimalRequirements.DriveSize >= 1000)
                        {
                            <p>@(Model.MinimalRequirements.DriveSize / 1000) GB</p>
                        }
                        else
                        {
                            <p>@Model.MinimalRequirements.DriveSize MB</p>
                        }
                    </div>
                    <div>
                        <strong>System operacyjny</strong>
                        <p>@Model.MinimalRequirements.OS lub nowszy</p>
                    </div>
                </div>
            </div>
            <div class="game-section">
                <h4>Rekomendowane</h4>
                <div class="game-info-grid">
                    <div>
                        <strong>Procesor</strong>
                        <p>@Model.RecommendedRequirements.CPU</p>
                    </div>
                    <div>
                        <strong>Pamięć RAM</strong>
                        @if (Model.RecommendedRequirements.RAM >= 1)
                        {
                            <p>@Model.RecommendedRequirements.RAM GB</p>
                        }
                        else
                        {
                            <p>@(Model.RecommendedRequirements.RAM * 1000) MB</p>
                        }
                    </div>
                    <div>
                        <strong>Karta graficzna</strong>
                        <p>@Model.RecommendedRequirements.GPU</p>
                    </div>
                    <div>
                        <strong>Dysk twardy</strong>
                        @if (Model.RecommendedRequirements.DriveSize >= 1000)
                        {
                            <p>@(Model.RecommendedRequirements.DriveSize / 1000) GB</p>
                        }
                        else
                        {
                            <p>@Model.RecommendedRequirements.DriveSize MB</p>
                        }
                    </div>
                    <div>
                        <strong>System operacyjny</strong>
                        <p>@Model.RecommendedRequirements.OS lub nowszy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Forum" asp-action="Create" asp-route-gameId="@Model.Id">Dodaj nowy wątek</a>
        <strong>Komentarze:</strong>

    </div>

    <div>
        <strong>Twój komentarz:</strong>
        <form>
            <textarea name="Komentarz" cols="50" rows="10">Proszę, wpisz tutaj jakiś komentarz...</textarea>
            <input type="text" name="watek"/>
            <button class="btn btn-success">Skomentuj</button>
        </form>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $('.cover-container').on("click", function () {
            $("#cover-overlay").show();
        });

        $("#cover-overlay").on("click", function () {
            $("#cover-overlay").hide();
        });
    </script>
}