@model GameWeb.Models.Game

<div id="cover-overlay">
    <div class="overlay-content">
        <a href="~/images/GameCovers/@Model.Image">
            <img src="~/images/GameCovers/@Model.Image" />
        </a>
    </div>
</div>

<div class="game-rating-box">
    @if (Model.GameRates.Count > 0)
    {
        <p>Ocena gry wynosi @String.Format("{0:0.00}",Model.AverageRating) na postawie @Model.GameRates.Count ocen</p>
    }
    else
    {
        <p>Nikt jeszcze nie ocenił tej gry.</p>
    }
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.UserRating > 0)
        {
            <p>Twoja ocena wynosi @Model.UserRating</p>
        }

        <div class="rating-row">
            @for (int i = 0; i < 10; i++)
            {
                <form asp-controller="Game" asp-action="RatePost" asp-route-id="@Model.Id" asp-route-rating="@(i+1)" style="width: 100%;">
                    <button type="submit" class="rating-star @(i < Model.UserRating ? "rating-star-clicked" : "")"></button>
                </form>
            }
        </div>

        @if (Model.IsInCurrentUsersWishlist)
        {
            <form asp-controller="Game" asp-action="WishlistDeletePost" asp-route-id="@Model.Id" style="width: 100%;">
                <button type="submit" class="action-button wishlist-button"><i class="fas fa-eye"></i> Nie chcę zagrać</button>
            </form>
        }
        else
        {
            <form asp-controller="Game" asp-action="WishlistAddPost" asp-route-id="@Model.Id" style="width: 100%;">
                <button type="submit" class="action-button wishlist-button"><i class="far fa-eye"></i> Chcę zagrać</button>
            </form>
        }

        @if (Model.IsCurrentUsersFavourite)
        {
            <form asp-controller="Game" asp-action="UnfavPost" asp-route-id="@Model.Id">
                <button type="submit" class="action-button favourite-button"><i class="fas fa-heart"></i> Usuń z ulubionych</button>
            </form>
        }
        else
        {
            <form asp-controller="Game" asp-action="FavPost" asp-route-id="@Model.Id">
                <button type="submit" class="action-button favourite-button"><i class="far fa-heart"></i> Dodaj do ulubionych</button>
            </form>
        }
    }
</div>

<div class="game-page">
    <div class="game-header">
        <div class="cover-container">
            <img src="~/images/GameCovers/@Model.Image" />
        </div>
        <div class="game-header-info">
            <div class="game-header-container">
                <h2><span class="title-span">@Model.Name</span> <span class="year-span">@Model.ReleaseDate.Year</span></h2>
            </div>
            <p class="full-description">@Model.Description</p>
        </div>
    </div>
    <hr class="game-divider" />
    <div class="game-details">
        <div class="game-section">
            <h3>Główne informacje</h3>
            <div class="game-info-grid">
                <div>
                    <strong>Wydawca</strong>
                    <p>@Model.Publisher</p>
                </div>
                <div>
                    <strong>Deweloper</strong>
                    <p>@Model.Developer</p>
                </div>
                <div>
                    <strong>Gatunek</strong>
                    <p>@Model.Genre</p>
                </div>
            </div>
        </div>
        <div class="game-section">
            <h3>Platformy</h3>
            <div class="platform-icons">
                <p>@Model.Platform</p>
            </div>
        </div>
        <div class="game-section">
            <h3>Wymagania sprzętowe</h3>
            <div>
                <h4>Minimalne</h4>
                <div class="game-info-grid">
                    <div>
                        <strong>Procesor</strong>
                        <p>@Model.MinimalRequirements.CPU</p>
                    </div>
                    <div>
                        <strong>Pamięć RAM</strong>
                        @if (Model.MinimalRequirements.RAM >= 1)
                        {
                            <p>@Model.MinimalRequirements.RAM GB</p>
                        }
                        else
                        {
                            <p>@(Model.MinimalRequirements.RAM * 1000) MB</p>
                        }
                    </div>
                    <div>
                        <strong>Karta graficzna</strong>
                        <p>@Model.MinimalRequirements.GPU</p>
                    </div>
                    <div>
                        <strong>Dysk twardy</strong>
                        @if (Model.MinimalRequirements.DriveSize >= 1000)
                        {
                            <p>@(Model.MinimalRequirements.DriveSize / 1000) GB</p>
                        }
                        else
                        {
                            <p>@Model.MinimalRequirements.DriveSize MB</p>
                        }
                    </div>
                    <div>
                        <strong>System operacyjny</strong>
                        <p>@Model.MinimalRequirements.OS lub nowszy</p>
                    </div>
                </div>
            </div>
            <div class="game-section">
                <h4>Rekomendowane</h4>
                <div class="game-info-grid">
                    <div>
                        <strong>Procesor</strong>
                        <p>@Model.RecommendedRequirements.CPU</p>
                    </div>
                    <div>
                        <strong>Pamięć RAM</strong>
                        @if (Model.RecommendedRequirements.RAM >= 1)
                        {
                            <p>@Model.RecommendedRequirements.RAM GB</p>
                        }
                        else
                        {
                            <p>@(Model.RecommendedRequirements.RAM * 1000) MB</p>
                        }
                    </div>
                    <div>
                        <strong>Karta graficzna</strong>
                        <p>@Model.RecommendedRequirements.GPU</p>
                    </div>
                    <div>
                        <strong>Dysk twardy</strong>
                        @if (Model.RecommendedRequirements.DriveSize >= 1000)
                        {
                            <p>@(Model.RecommendedRequirements.DriveSize / 1000) GB</p>
                        }
                        else
                        {
                            <p>@Model.RecommendedRequirements.DriveSize MB</p>
                        }
                    </div>
                    <div>
                        <strong>System operacyjny</strong>
                        <p>@Model.RecommendedRequirements.OS lub nowszy</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="game-divider" />

        <div>
            <div class="forum-header">
                <h3>Komentarze</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Forum" asp-action="Create" asp-route-gameId="@Model.Id" class="action-button add-button forum-add-button"><i class="fas fa-plus"></i> Dodaj nowy wątek</a>
                }
            </div>
            @if (Model.CommentThreads.Count > 0)
            {
                @foreach (var thread in Model.CommentThreads)
                {
                    <div class="forum-thread">
                        <div class="forum-user-info">
                            <i class="fas fa-user-circle user-icon"></i>
                            @if (thread.Comments.FirstOrDefault().Author != null)
                            {
                                <p><strong>@thread.Comments.FirstOrDefault().Author.UserName</strong></p>
                            }
                            else
                            {
                                <p><strong>Konto usunięte</strong></p>
                            }
                        </div>
                        <div class="forum-post-info">
                            <div>
                                <h4><a asp-controller="Forum" asp-route-id="@thread.Id" asp-action="Thread">@thread.Name</a></h4>
                                <p>@thread.Comments.FirstOrDefault().Body</p>
                            </div>
                            <div class="forum-post-data">
                                <p><a asp-controller="Forum" asp-route-id="@thread.Id" asp-action="Thread"><i class="far fa-comment"></i> @(thread.Comments.Count()-1) odpowiedzi</a></p>
                                <p>@String.Format("{0:dd.MM.yyyy HH:mm}", thread.Comments.FirstOrDefault().Date)</p>
                            </div>
                        </div>
                    </div>
                }
                <div class="center-container">
                    <a asp-controller="Forum" asp-action="Index" asp-route-gameId="@Model.Id" class="see-full-forum">Zobacz więcej komentarzy</a>
                </div>
            }
            else
            {
                <p>Brak komentarzy. Bądź pierwszy!</p>
            }

        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $('.cover-container').on("click", function () {
            $("#cover-overlay").show();
        });

        $("#cover-overlay").on("click", function () {
            $("#cover-overlay").hide();
        });
    </script>
}