@model IEnumerable<Game>

@{
    ViewData["Title"] = "Ulubione gry";
}

<div>
    <div class="upper-row">
        <h2>Ulubione gry</h2>
    </div>

    @if (Model.Count() > 0)
    {
        @foreach (var obj in Model)
        {
            <div class="game-card">
                <a asp-controller="Game" asp-route-id="@obj.Id" asp-action="Details">
                    <img src="~/images/GameCovers/@obj.Image" class="game-image" />
                </a>
                <div class="game-card-info">
                    <div>
                        <div class="space-between">
                            <div class="game-name-date-container">
                                <a asp-controller="Game" asp-route-id="@obj.Id" asp-action="Details"><h3>@obj.Name</h3></a>
                                <p class="release-date">@obj.ReleaseDate.Year</p>
                            </div>

                            <form asp-controller="Game" asp-action="UnfavGame" asp-route-id="@obj.Id">
                                <button type="submit" class="unfav-button"><span class="mouseout"><i class="fas fa-heart"></i></span><span class="mousein"><i class="far fa-heart"></i></span></button>
                            </form>
                        </div>

                        <p class="publisher">@obj.Publisher</p>
                        <p class="description">@obj.Description</p>
                    </div>
                    <div>
                        <p class="genre"><strong>Gatunek:</strong> @obj.Genre</p>
                        <p class="platforms"><strong>Platformy:</strong> @obj.Platform</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Brak ulubionych gier.</p>
    }
</div>